nav {
  background-color: rgb(234, 114, 154);
  position: sticky;
  top: 0%;
  box-shadow: 5px 5px 3px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
ul li {
  display: inline;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
li:hover{
  color:rgb(238, 234, 241);
}
