/* Main Navbar Container */
.nav-dark {
  width: 100%;
  background: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color: white;
  font-family: sans-serif;
}

/* TODO Logo */
.nav-dark h1 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Navbar Links */
.nav-dark div a {
  color: white;
  text-decoration: none;
  margin: 0 18px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

/* Hover underline effect */
.nav-dark div a:hover {
  color: #fdd835;
}

.nav-dark div a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background: #fdd835;
}

/* Right side icon + logout button */
.btn-logout {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Logout Button */
.logout-button {
  background: #d61b44;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-button:hover {
  background: #b70f33;
}
